body {
  background-color: #282c34;

  color: white;
}

/* Define a custom scrollbar */
.parent::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Define the track */
.parent::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Define the thumb */
.parent::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
}

.red {
  color: red;
}
